<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blockdiag Live Preview</title>
  </head>
  <body>
    <div id="index"></div>
    {% if url_prefix %}
    <script type="text/javascript" src="{{ url_prefix }}/static/js/index.js"></script>
    <script type="text/javascript" src="{{ url_prefix }}/static/js/main.js"></script>
    <script type="text/javascript" src="{{ url_prefix }}/static/js/vendor.js"></script>
    {% else %}
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    {% endif %}
  </body>
</html>
